* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.row::after {
    content: "";
    display: table;
    clear: both;
}
.button {
    display: inline-block;
    text-decoration: none;
    padding: 10px 25px;
    background-color: #0061ff;
    color: white;
    font-weight: 500;
}

/* header */
header nav{
    width: 100%;
    height: 100px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px 20px;
    z-index: 100;
    border-bottom: solid 1px #d0d0d3;
}
header ul {
    list-style-type: none;
    display: inline;
}
header ul li {
    display: inline;
    margin-right: 40px;
}
header ul li a {
    text-decoration: none;
    color: black;
    display: inline;
    font-size: 18px;
}
header #navlog {
    float: left;
    margin-right: 40px;
}
header #navsx {
    float: left;
    height: 100%;
}
header #navdx {
    height: 100%;
    float: right;
}

/* main */
main {
    padding-top: 100px;
}

/* jumbotron */
main #jumbotron {
    width: 100%;    
    background-color: #b4d0e7;
    height: 800px;
}
main #jumbotron .container {
    width: 85%;
    margin: 0 auto;
}
main #jumbotron h1 {
    padding-top: 70px;
    font-size: 90px;
    font-weight: 700;
    padding-bottom: 50px;
}
main #jumbotron .coltext {
    float: left;
    width: 30%;
}
main #jumbotron .coltext p {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
}
main #jumbotron .coltext .button {
    margin-top: 30px;
    margin-bottom: 10px;
}
main #jumbotron .coltext #arrow-down {
    font-size: 50px;
    margin-top: 50px;
    text-decoration: none;
    color: black;
    display: block;
}
main #jumbotron .colimg {
    float: right;
    width: calc(70% - 80px);
    margin-left: 80px;
}
main #jumbotron .colimg img {
    width: 90%;
    height: auto;
}