* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.row::after {
    content: "";
    display: table;
    clear: both;
}
.button {
    display: inline-block;
    text-decoration: none;
    padding: 10px 25px;
    background-color: #0061ff;
    color: white;
    font-weight: 500;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}

/* header */
header nav{
    width: 100%;
    height: 100px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    padding: 25px 20px;
    z-index: 100;
    border-bottom: solid 1px #d0d0d3;
}
header ul {
    list-style-type: none;
    display: inline;
}
header ul li {
    display: inline;
    margin-right: 40px;
}
header ul li a {
    text-decoration: none;
    color: black;
    display: inline;
    font-size: 18px;
}
header #navlog {
    margin-right: 40px;
}

/* main */
main {
    padding-top: 100px;
}

/* jumbotron */
main #jumbotron {
    width: 100%;    
    background-color: #b4d0e7;
    height: 800px;
}
main #jumbotron .container {
    width: 85%;
    margin: 0 auto;
}
main #jumbotron h1 {
    padding-top: 70px;
    font-size: 90px;
    font-weight: 700;
    padding-bottom: 50px;
}
main #jumbotron .coltext {
    width: 30%;
}
main #jumbotron .coltext p {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
}
main #jumbotron .coltext .button {
    margin-top: 30px;
    margin-bottom: 10px;
}
main #jumbotron .coltext #arrow-down {
    font-size: 50px;
    margin-top: 50px;
    text-decoration: none;
    color: black;
    display: block;
}
main #jumbotron .colimg {
    width: calc(70% - 80px);
    margin-left: 80px;
}
main #jumbotron .colimg img {
    width: 90%;
    height: auto;
}

/* prezzi */
main #secprezzi .container {
    width: 65%;
    margin: 0 auto;
}
main #secprezzi h2 {
    padding-top: 250px;
    padding-bottom: 80px;
    font-size: 45px;
}
main #secprezzi #fatturazione span {
    margin-right: 20px;
}
main #secprezzi #fatturazione span:hover{
    cursor: pointer;
}
main #secprezzi #fatturazione .check::before {
    content: "";
    display: inline-block;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: solid 6px #0061ff;
    background-color: white;
    vertical-align: middle;
    margin-right: 5px;
}
main #secprezzi #fatturazione .check2::before {
    content: "";
    display: inline-block;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    border: solid 1px #d0d0d3;
    background-color: white;
    vertical-align: middle;
    margin-right: 5px;
}
main #secprezzi .scheda-prezzo {
    width:  calc((100% - 120px) / 3);
    margin: 50px 0;
}
main #secprezzi .center {
    margin: 50px 60px;
}
main #secprezzi .scheda-titolare {
    border: solid 1px #d0d0d3;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
}
main #secprezzi .scheda-prezzo .scheda-caratteristiche {
    border-bottom: solid 1px #d0d0d3;
    border-left: solid 1px #d0d0d3;
    border-right: solid 1px #d0d0d3;
    width: 100%;
    padding: 30px 25px;
    height: 1100px;
}
main #secprezzi .scheda-caratteristiche .tipo-abbonamento h3 {
    font-size: 25px;
    padding-bottom: 15px;
}
main #secprezzi .scheda-caratteristiche .tipo-abbonamento strong {
    font-size: 17px;
}
main #secprezzi .scheda-prezzo .scheda-caratteristiche .tipo-abbonamento div {
    margin-bottom: 20px;
}
main #secprezzi .scheda-prezzo .scheda-caratteristiche .tipo-abbonamento .time {
    margin-top: 10px;
    margin-bottom: 40px;
    display: block;
    color: gray;
}
main #secprezzi .scheda-prezzo .scheda-caratteristiche .tipo-abbonamento .text {
    width: calc(100% - 20px);
    padding-left: 5px;
    margin-bottom: 0;
}
main #secprezzi .scheda-prezzo .scheda-caratteristiche .tipo-abbonamento div a {
    color: #0061ff;
}
main #secprezzi .scheda-prezzo .scheda-caratteristiche .tipo-abbonamento div .button {
    width: 100%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    color: white;
}
main #secprezzi .scheda-prezzo .scheda-caratteristiche .tipo-abbonamento div span {
    border-bottom: solid 1px #d0d0d3;
    padding-bottom: 30px;
    display: inline-block;
}
main #secprezzi .scheda-prezzo .scheda-caratteristiche .tipo-abbonamento div h4 {
    padding-top: 30px;
}
main #secprezzi .scheda-prezzo .scheda-caratteristiche .tipo-abbonamento .blu {
    color: #0061ff;
}
main #secprezzi .enterprice {
    width: 100%;
}
main #secprezzi .enterprice .scheda-caratteristiche {
    border-bottom: solid 1px #d0d0d3;
    border-left: solid 1px #d0d0d3;
    border-right: solid 1px #d0d0d3;
    width: 100%;
    padding: 30px 25px;
}
main #secprezzi .enterprice .scheda-caratteristiche .tipo-abbonamento {
    width: 70%;
}
main #secprezzi .enterprice .scheda-caratteristiche .tipo-abbonamento h4 {
    padding-bottom: 30px;
}
main #secprezzi .enterprice #ufficio-vendite {
    width: 30%;
}
main #secprezzi .enterprice .scheda-caratteristiche #ufficio-vendite .button {
    width: 100%;
    text-align: center;
}